html, body {
    padding: 0;
    margin: 0;
    bottom: 0;
    height: 100vh;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

#map {
	position: absolute;
	top: 0;
  right: 0;
	height: 100vh;
	width: 80vw;
}

#sideBar {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20vw;
}

#logoContainer {
  position: relative;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  z-index: 100;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-flex;
  background: #C3E7DA;
}

#logo {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
}

#header {
  display: inline-block;
  font-family: 'arial';
  vertical-align: sub;
  margin: 0px;
  padding: 0px 3px;
}

nav#controller {
  position: relative;
  width: 100%;
  height: 360px;
  background: rgba(240, 240, 240);
  overflow: auto;
  margin: 10px;
}

.info {
  font-size: 1.3vh;
}

/* #act {
  padding-right: 10px;
} */

.mapboxgl-ctrl-geocoder {
  margin-top: 70px !important;
}

.geocoderPanel > .mapboxgl-ctrl-geocoder {
  margin-top: 0px !important;
}

ul {
  padding-left: 10px;
}

ul.2nd-level {
  padding-left: 20px;
}

details {
  padding: 15px;
}

details[open] > summary {
  background-color: rgba(59, 184, 211, 0.22);
  font-weight: bold;
  margin: 10px;
  border-bottom: solid black 1px;
}

summary {
  font-weight: initial;
}

details[open] > h1, h2, h3, h4, h5, h6, p {
  padding-left: 10px;
}

.itemIcon {
  margin-right: 2px;
  width: 15px;
}

#menu {
  display: fixed;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Style the links inside the pill navigation menu */
#menu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 3px 10px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

/* Change the color of links on mouse-over */
#menu a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
#menu a.active {
  background-color: dodgerblue;
  color: white;
}
