html, body {
    padding: 0;
    margin: 0;
    bottom: 0;
    height: 100vh;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

#map {
	position: absolute;
	top: 0;
  /* right: 0; */
  right: 0;
	height: 100vh;
	width: 75vw;
}

#sideBar {
  /* display: flex; */
  display: block;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  top: 0;
  /* left: 0 */
  left: 0;
  height: 100vh;
  width: 25vw;
  background: #414141;

}

#logoContainer {
  position: relative;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  z-index: 100;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-flex;
  background: #C3E7DA;

}

#mapInfoContainer {
  color: white;
  margin: 10px;
}

#logo {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
}

#header {
  display: inline-block;
  font-family: 'arial';
  vertical-align: sub;
  margin: 0px;
  padding: 0px 3px;
}

#nodeName {
  text-align: center;
}

#nodeName {
  text-align: center;
}

.info {
  /* font-size: 1.3vh; */
  font-size: 14px;
  padding: 0px 20px 0px 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  color: white;
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
  text-decoration: none;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
}

li:last-child {
  border: none;
}

li:hover {
  cursor: pointer;
  font-size: 28px;
  background: #646464;
}
